*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

:root {
  --background: #005;
  --primary: #88d5bf;
  --secondary: #5d6bf8;
  --third: #e27fcb;
}

html {
  /* color-scheme: dark light; */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Urbanist", sans-serif;
}

.topContainerOfPages {
  padding-top: 74px;

  @media (max-width: 580px) {
    padding-top: 66.5px;
  }
}

::-webkit-scrollbar {
  display: none;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.loadingContainer {
  width: 100%;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  color: #333;
  text-align: center;
}
.notFoundContainer {
  width: 100%;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  color: #333;
  text-align: center;
}
.errorContainer {
  width: 100%;
  min-height: 50vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 500;
  color: rgb(233, 35, 35);
}

.actionClass {
  background-color: teal;
  color: #fff;
  border: 2px solid rgba(0, 128, 128, 1);
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(
      45deg,
      var(--primary) 0%,
      var(--secondary) 100%
    );
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(
      45deg,
      var(--primary) 0%,
      var(--secondary) 100%
    );
  }
}
